---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Fasilitas | 56 Studio Jakarta"
  ,
  description="Fasilitas yang kami sediakan di 56 Studio Jakarta."
>
  <h1>Fasilitas WIP</h1>
</Layout>
