---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Klien | 56 Studio Jakarta"
  ,
  description="Klien-klien yang sudah bekerja sama dengan kami di 56 Studio Jakarta."
>
  <h1>Klien WIP</h1>
</Layout>
