---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton';
import BrandScroller from '../components/BrandScroller.astro';
---

<Layout
  title="56 Studio Jakarta"
  ,
  description="Kembangkan kekuatan anda melalui musik dan suara dengan kami di 56 Studio Jakarta."
>
  <section
    class="relative px-6 pt-32 sm:pt-24 md:pt-44 pb-16 flex flex-col items-center lg:min-h-screen gap-20 lg:gap-0 lg:justify-center"
  >
    <div class="max-w-screen-2xl">
      <h1 class="text-3xl sm:text-5xl md:text-6xl 3xl:text-9xl font-display">
        <span class="inline-block">Kembangkan kekuatan anda</span>
        <span class="inline-block">melalui musik dan suara</span>
      </h1>
      <div class="relative text-sm sm:text-lg 3xl:text-3xl">
        <p id="anim-p" class="py-6 px-2">
          Selamat datang di <span class="font-bold text-studio-primary-light"
            >56 Studio Jakarta</span
          >, tempat musik menjadi bahasa universal.
          <br />
          Kami menciptakan komposisi yang membangkitkan emosi dan menghidupkan brand
          dan image anda.
          <br />
          Hubungi Kami untuk konsultasi dan harga promosi.
        </p>
        <LinkButton href="/kontak">Hubungi Kami</LinkButton>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 mt-16 sm:max-w-xl md:max-w-full lg:max-w-screen-2xl"
    >
      <h2 class="text-3xl sm:text-3xl font-display text-center mb-4">
        Telah dipercaya oleh berbagai instansi
      </h2>
      <BrandScroller />
    </div>
  </section>
</Layout>
