---
import { getImage } from 'astro:assets';
import logotype from '../assets/56studio_logotype_white.svg';
import SocialMediaIcons from './SocialMediaIcons.astro';

const optimizedLogo = await getImage({ src: logotype });
---

<div
  class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-24 lg:px-8"
>
  <div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-6">
    <div class="md:max-w-md lg:col-span-2">
      <a
        href="/"
        aria-label="Go home"
        title="56 Studio Jakarta"
        class="inline-flex items-center"
      >
        <img
          src={optimizedLogo.src}
          alt="56 Studio Jakarta"
          class="max-h-12 md:max-h-16"
          loading="lazy"
        />
      </a>
      <div class="mt-4 lg:max-w-sm">
        <p class="text-sm text-studio-white-darker">
          Kembangkan kekuatan anda melalui musik dan suara dengan kami di 56
          Studio Jakarta.
        </p>
        <SocialMediaIcons />
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row gap-8 lg:col-span-4 lg:justify-around"
    >
      <div>
        <p class="font-semibold tracking-wide text-studio-white-darker">
          Layanan
        </p>
        <ul class="mt-2 space-y-2">
          <li>
            <a
              href="/layanan#production"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              >Recording & Music Production</a
            >
          </li>
          <li>
            <a
              href="/layanan#staffing"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              >Staffing</a
            >
          </li>
          <li>
            <a
              href="/layanan#soundsystem"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              >Sound System</a
            >
          </li>
          <li>
            <a
              href="/layanan#onlocation"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              >On Location Audio Production</a
            >
          </li>
        </ul>
      </div>
      <div>
        <p class="font-semibold tracking-wide text-studio-white-darker">
          Kontak
        </p>
        <ul class="mt-2 space-y-2">
          <li>
            <a
              href="tel:+628999999660"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              >(+62) 8999-999-660</a
            >
          </li>
          <li>
            <a
              href="mailto:56studiojakarta@gmail.com"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
            >
              56studiojakarta@gmail.com</a
            >
          </li>
          <li>
            <a
              href="https://maps.app.goo.gl/X8jEAyuTHuQYsEav7"
              class="text-studio-white transition-colors duration-300 hover:text-studio-primary"
              target="_blank"
            >
              Asofa Raya No. 56, Kebon Jeruk, Jakarta Barat</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between pt-5 pb-10 border-t sm:flex-row">
    <p class="text-sm text-studio-white">
      © Copyright
      {new Date().getFullYear()}
      56 Studio Jakarta. All rights reserved.
    </p>
  </div>
</div>
