---
import { Image } from 'astro:assets';
import LinkButton from './LinkButton';

const BrandLogos: Array<{ src: any; alt: string }> = [
  {
    src: '/images/brands/MAHAD_AL_ALAMI.svg',
    alt: "Ma'had Al Alami",
  },
  {
    src: '/images/brands/UINSU.svg',
    alt: 'UIN Sumatera Utara',
  },
  {
    src: '/images/brands/CIMORY.svg',
    alt: 'Cimory',
  },
  {
    src: '/images/brands/LE_MINERALE.svg',
    alt: 'Le Minerale',
  },
  {
    src: '/images/brands/PARTAI_UMMAT.svg',
    alt: 'Partai Ummat',
  },
];
---

<section
  class="relative px-6 pt-32 sm:pt-24 md:pt-44 pb-16 flex flex-col items-center lg:min-h-screen gap-20 lg:gap-0 lg:justify-center"
>
  <div class="max-w-screen-2xl text-center">
    <h1 class="text-3xl sm:text-5xl md:text-6xl 3xl:text-9xl font-display">
      Kembangkan kekuatan anda
      <br />
      melalui musik dan suara
    </h1>
    <div class="relative text-sm sm:text-lg 3xl:text-3xl">
      <p id="anim-p" class="py-6 px-2">
        Selamat datang di <span class="font-bold text-studio-primary-light"
          >56 Studio Jakarta</span
        >, tempat musik menjadi bahasa universal.
        <br />
        Kami menciptakan komposisi yang membangkitkan emosi dan menghidupkan brand
        dan image anda.
        <br />
        Hubungi Kami untuk konsultasi dan harga promosi.
      </p>
      <LinkButton href="/kontak">Hubungi Kami</LinkButton>
    </div>
  </div>
  <div class="flex flex-col gap-4 mt-16">
    <h2 class="text-3xl sm:text-3xl font-display text-center mb-4">
      Telah dipercaya oleh berbagai instansi
    </h2>
    <figure
      class="mx-auto overflow-hidden flex [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
    >
      {
        [...new Array(2)].fill(0).map((_, index) => (
          <div class="shrink-0 grow-0 basis-full flex justify-around will-change-transform animate-infinite-scroll">
            {BrandLogos.map(({ src, alt }) => (
              <Image
                src={src}
                alt={alt}
                width={500}
                height={500}
                class="w-[15vw] lg:w-[10vw] justify-center items-center"
                loading="eager"
              />
            ))}
          </div>
        ))
      }
    </figure>
  </div>
</section>
